.details{
    background-color: rgb(5, 37, 80);
    box-sizing: border-box;
}
.detailContainer{
    width: 1140px;
    margin: 0 auto;
}

.clubLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
}


.detailsHeader img{
    width: 30%;
    padding: 10px 0;
}
.leagueDetail{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    background-color:blue ;
    margin-top:20px;
    padding: 30px;
    border-radius: 15px;
    color:#fff;
    font-size: 20px;
}

.foundedImg{
    width:30px
}

 .gender{
    width: 100%;
}
.description{
    text-align: justify;
    color:#fff;
    padding: 0 10px;
}
.social{
    text-align: center;
}
.social a {
    color:#fff;
    text-decoration: none;
    display: inline-block; 
    margin: 10px;
    font-size: 50px;
}
/* Responsive Web Site  */
@media only screen and (max-width: 599px) {
    .detailContainer{
        width: 100%;
    }
    .leagueDetail{
        background-color:#3A42FE;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(1,1fr);
        justify-content: space-around;
    }
    .social a {
        font-size: 30px;
    }
}
@media only screen and (min-width: 600px) {
    .leagueDetail{
        background-color:#3A42FE;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(1,1fr);
        justify-content: space-around;
    }
    .detailContainer{
        width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    .leagueDetail{
        background-color: rgb(255, 90, 90);
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-around;
    }
}
@media only screen and (min-width: 992px) {
    .detailContainer{
        width: 1140px;
    }
    .leagueDetail{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-around;
    }
}